.checked {
    color: yellow;
}

#sidebar{
    min-width: 160px;
    min-height: 100vh;
    float: left;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 4px;
    overflow-x: hidden;
    background-color: #ccccb3;
}
.media {
    margin-left: 160px;
    padding: 10px;
}

h2:hover{
    background-color: white;
    left: 0;
}
#movies_container a{
    color: black;
    display: block;
    float: left;
    margin-top: 10px;
}
#hr_a {
    color: black;
    background-color: black;
}

#sidebar a{
    text-decoration: none;
    color: black;
}
#sidebar a:hover, a:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#sidebar a:visited{
    text-decoration: none;
}

.hr_media{
    width: 50%;
    margin-left: 0;
    color: gray;
    background-color: gray;
}

.movie1{
    background-color: lightblue;
    border-radius: 30px;
    height: 150px;
    width: 50%;
}
.movie2{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: lightblue;
    border-radius: 30px;
    height: 150px;
    width: 50%;
}
img{
    width: 10%;
    float: left;
    margin: 10px 5px 0px 10px;
    height: 115px;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}